.header,
.info1,
.footer {
  background-color:#1F2937;
  color:white;
}

.subtxt1 {
  color:#E5E7EB;
}

.logo {
  font-size:24px;
  color:#F9FAF8;
}

.headerlink {
  font-size:18px;
  color:#E5E7EB;
}


.title_info1 {
  font-size:48px;
  color:#F9FAF8;
  font-weight:800;
}

.info2title {
  font-size:36px;
  color:#1F2937;
  font-weight:800;
}

.items img {
  border-radius: 16px;
  border: 6px solid #3882F6;
}

.imginfo {
  height: 200px;
}

.info3 {
  background-color: #E5E7EB;
  color:#1F2937
}

.citation {
  font-size: 36px;
  font-weight:lighter;
  font-style: italic;
}

.signature {
  font-weight:bold;
}

.signup {
  background-color:#3882F6;
  color:#F9FAF8;
}


img {
  width:auto;
  height:100%;
}

a {
  text-decoration:none;
  color:#E5E7EB;
}

ul {
  list-style:none;
}

button {
  background-color: #3882f6;
  color:#F9FAF8;
  font-weight: bold;
  border-radius: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.button1 {
  border:0px;
}

.button2 {
  border-color:#F9FAF8;
}
