body {
  font-family: roboto;
  display:flex;
  flex-direction:column;
  margin:0;
}

.header,
.info1,
.footer {
  background-color:#1F2937;
  color:white;
  padding:16px; 
}

/* header */
.header {
  display:flex;
  justify-content:center;
  gap:360px;
}

.logo {
  font-size:24px;
  color:#F9FAF8;
  font-weight:bold;
  display:flex;
  align-items:center;
}

/* info1 */
.info1 {
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:space-around;
  gap:50px;
  padding-bottom:100px;
}

.left {
  width:400px;
}

.info1title {
  font-size:48px;
  color:#F9FAF8;
  font-weight:800;
}

.subtxt1 {
  color:#E5E7EB;
  margin-bottom:10px;
}

.placeholder {
  color: #F9FAF8;
  width: 500px;
  height: 200px;
  background-color: gray;
  display:flex;
  align-items:center;
  justify-content:center;
  }

/*info 2*/
.info2title {
  font-size:36px;
  color:#1F2937;
  font-weight:800;
  text-align:center;
  margin-top:50px;
  margin-bottom:50px;
}

.containeritems {
  display:flex;
  justify-content:center;
  text-align:center;
  gap:40px;
}

.items img {
  border-radius: 16px;
  border: 5px solid #3882F6;
  width:150px;
  height:auto;
  gap:20px;
}

.text {
  width:150px;
}

/* info3 */
.info3 {
  background-color: #E5E7EB;
  color:#1F2937
}

.citation {
  font-size: 36px;
  font-weight:lighter;
  font-style: italic;
}

.signature {
  font-weight:bold;
}

/* signup */
.signup {
  background-color:#3882F6;
  color:#F9FAF8;
}

/* ------- */
img {
  width:auto;
  height:100%;
}

a {
  text-decoration:none;
  color:#E5E7EB;
  display:flex;
}

ul {
  font-size:18px;
  color:#E5E7EB;
  list-style:none;
  display:flex;
  gap:16px;
}


/* buttons */
button {
  background-color: #3882f6;
  color:#F9FAF8;
  font-weight: bold;
  border-radius: 6px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.button1 {
  border:0px;
}

.button2 {
  border-color:#F9FAF8;
}
